<div class="container d-flex align-items-center justify-content-center my-5">
  <div class="card shadow-sm" style="width: 24rem;">
    <%= cl_image_tag @service.photo.key, class: "card-img-top", style: "object-fit: cover; height: 300px; width: 100%;" %>
    <div class="card-body">
      <h1 class="text-center text-primary h1-sm card-title"><%= @service.title %></h1>
      <p class="text-center text-secondary card-text"><%= @service.description %></p>
      <p class="card-text">Price: <%= @service.price %></p>
      <div class="d-flex justify-content-between">
        <%= link_to "Book Now!", new_service_booking_path(@service), class: "btn btn-primary" %>
        <%= link_to "Delete", service_path(@service), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this service?" }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
