<h1>Pages#home</h1>

<!--Bookings I have made -->
  <% @bookings.each do |booking| %>
    <li><%= booking.start_date  %> : <%= booking.status %>
    </li>
  <% end %>

  <!--Bookings for my service-->
<% @services.each do |service| %>
  <%= service.title  %>
  <% service.bookings.each do |booking| %>
  <li>
      <%= booking.user.first_name %>
      <%= booking.start_date %>
      <%= booking.end_date %>
      <%= booking.status %>
  </li>

  <% if booking.pending! %>
        <%= button_to 'Accept', accept_booking_path(booking), method: :patch, class: "btn btn-success" %>
        <%= button_to 'Decline', decline_booking_path(booking), method: :patch, class: "btn btn-danger" %>
      <% end %>
    <% end %>
  <% end %>
